//
// Headings
//

h1 {
	font-family: $h1-font-family;
	color: #505050;
}


h1, .h1 { font-size: $font-size-h1; }
h2, .h2 { font-size: $font-size-h2; }
h3, .h3 { font-size: $font-size-h3; }
h4, .h4 { font-size: $font-size-h4; }
h5, .h5 { font-size: $font-size-h5; }
h6, .h6 { font-size: $font-size-h6; }

p {
	color: $p-font-color;
	line-height: $p-line-height;
}

p.subheading {
	font-style: italic;
	font-family: $h2-font-family;
}