$bg-color: #f1f1f1;
$p-font-color: #505050;
$p-line-height: 1.7;

// Fonts
//
// Font, line-height, and color for body text, headings, and more.

$font-family-sans-serif: 'PT Sans Narrow', -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !default;
$font-family-serif:      'Merriweather', Georgia, "Times New Roman", Times, serif !default;
$font-family-monospace:  Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base:       $font-family-serif !default;
$h1-font-family: 'Playfair Display', Georgia, "Times New Roman", Times, serif !default;
$h2-font-family: Georgia, "Times New Roman", Times, serif !default;
$h3-font-family: $font-family-sans-serif;

$font-size-base: 1.05rem !default; // Assumes the browser default, typically `16px`

$font-weight-normal: normal !default;
$font-weight-bold: bold !default;

$font-weight-base: $font-weight-normal !default;
$line-height-base: 1.7 !default;

$font-size-h1: 2.1rem !default;
$font-size-h2: 2rem !default;
$font-size-h3: 1.75rem !default;
$font-size-h4: 1.5rem !default;
$font-size-h5: 1.25rem !default;
$font-size-h6: 1rem !default;



$headings-font-weight:   400 !default;
$headings-line-height:   1.1 !default;

$display1-size: 6rem !default;
$display2-size: 5.5rem !default;
$display3-size: 4.5rem !default;
$display4-size: 3.5rem !default;

$display1-weight:     300 !default;
$display2-weight:     300 !default;
$display3-weight:     300 !default;
$display4-weight:     300 !default;
$display-line-height: $headings-line-height !default;

$lead-font-size:   1.25rem !default;
$lead-font-weight: 300 !default;

$small-font-size: 80% !default;




$mark-padding: .2em !default;

$dt-font-weight: $font-weight-bold !default;

$nested-kbd-font-weight: $font-weight-bold !default;

$list-inline-padding: 5px !default;