<!doctype html>
<html class="no-js" lang="">
	
	{% include head.html %}
	

		<div id="wrapper">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-3">
						{% include sidebar.html %}
					</div><!-- /.col-md-4 -->
					<div class="col-md-9">
					<div class="main-content">
					<h1 class="text-center">Intervju sa clanovima benda Versus Logic</h1>
						<p>S obzirom da smo osetili kako se u poslednjih nekoliko godina scena ponovo budi, mlada i neiskvarena
sujetom kao ranije, pretpostavili smo da je ovo pravi momanat da iskoristimo priliku da uradimo ono
što je trebalo i ranije – da nešto promenimo. A promena je došla sama od sebe. Valjda su to i drugi hteli
te je saradnja sa ljudima u drugima gradovima ( Čačak, Gornji Milanovac, Požega, Kragujevac,Niš...)
nastala spontano i lako. Posle onog odvratnog osećaja dominacije tezgaroša i komercijalista na svakom
koraku i svakog vikenda, osetila se volja novih snaga underground pravca koji je ujedinio i rock, metal,
punk...ma sve žanrove i podžanrove.</p>
						<p>S obzirom da smo osetili kako se u poslednjih nekoliko godina scena ponovo budi, mlada i neiskvarena
sujetom kao ranije, pretpostavili smo da je ovo pravi momanat da iskoristimo priliku da uradimo ono
što je trebalo i ranije – da nešto promenimo. A promena je došla sama od sebe. Valjda su to i drugi hteli
te je saradnja sa ljudima u drugima gradovima ( Čačak, Gornji Milanovac, Požega, Kragujevac,Niš...)
nastala spontano i lako. Posle onog odvratnog osećaja dominacije tezgaroša i komercijalista na svakom
koraku i svakog vikenda, osetila se volja novih snaga underground pravca koji je ujedinio i rock, metal,
punk...ma sve žanrove i podžanrove.</p>						<p>S obzirom da smo osetili kako se u poslednjih nekoliko godina scena ponovo budi, mlada i neiskvarena
sujetom kao ranije, pretpostavili smo da je ovo pravi momanat da iskoristimo priliku da uradimo ono
što je trebalo i ranije – da nešto promenimo. A promena je došla sama od sebe. Valjda su to i drugi hteli
te je saradnja sa ljudima u drugima gradovima ( Čačak, Gornji Milanovac, Požega, Kragujevac,Niš...)
nastala spontano i lako. Posle onog odvratnog osećaja dominacije tezgaroša i komercijalista na svakom
koraku i svakog vikenda, osetila se volja novih snaga underground pravca koji je ujedinio i rock, metal,
punk...ma sve žanrove i podžanrove.</p>						<p>S obzirom da smo osetili kako se u poslednjih nekoliko godina scena ponovo budi, mlada i neiskvarena
sujetom kao ranije, pretpostavili smo da je ovo pravi momanat da iskoristimo priliku da uradimo ono
što je trebalo i ranije – da nešto promenimo. A promena je došla sama od sebe. Valjda su to i drugi hteli
te je saradnja sa ljudima u drugima gradovima ( Čačak, Gornji Milanovac, Požega, Kragujevac,Niš...)
nastala spontano i lako. Posle onog odvratnog osećaja dominacije tezgaroša i komercijalista na svakom
koraku i svakog vikenda, osetila se volja novih snaga underground pravca koji je ujedinio i rock, metal,
punk...ma sve žanrove i podžanrove.</p>						<p>S obzirom da smo osetili kako se u poslednjih nekoliko godina scena ponovo budi, mlada i neiskvarena
sujetom kao ranije, pretpostavili smo da je ovo pravi momanat da iskoristimo priliku da uradimo ono
što je trebalo i ranije – da nešto promenimo. A promena je došla sama od sebe. Valjda su to i drugi hteli
te je saradnja sa ljudima u drugima gradovima ( Čačak, Gornji Milanovac, Požega, Kragujevac,Niš...)
nastala spontano i lako. Posle onog odvratnog osećaja dominacije tezgaroša i komercijalista na svakom
koraku i svakog vikenda, osetila se volja novih snaga underground pravca koji je ujedinio i rock, metal,
punk...ma sve žanrove i podžanrove.</p>						<p>S obzirom da smo osetili kako se u poslednjih nekoliko godina scena ponovo budi, mlada i neiskvarena
sujetom kao ranije, pretpostavili smo da je ovo pravi momanat da iskoristimo priliku da uradimo ono
što je trebalo i ranije – da nešto promenimo. A promena je došla sama od sebe. Valjda su to i drugi hteli
te je saradnja sa ljudima u drugima gradovima ( Čačak, Gornji Milanovac, Požega, Kragujevac,Niš...)
nastala spontano i lako. Posle onog odvratnog osećaja dominacije tezgaroša i komercijalista na svakom
koraku i svakog vikenda, osetila se volja novih snaga underground pravca koji je ujedinio i rock, metal,
punk...ma sve žanrove i podžanrove.</p>						<p>S obzirom da smo osetili kako se u poslednjih nekoliko godina scena ponovo budi, mlada i neiskvarena
sujetom kao ranije, pretpostavili smo da je ovo pravi momanat da iskoristimo priliku da uradimo ono
što je trebalo i ranije – da nešto promenimo. A promena je došla sama od sebe. Valjda su to i drugi hteli
te je saradnja sa ljudima u drugima gradovima ( Čačak, Gornji Milanovac, Požega, Kragujevac,Niš...)
nastala spontano i lako. Posle onog odvratnog osećaja dominacije tezgaroša i komercijalista na svakom
koraku i svakog vikenda, osetila se volja novih snaga underground pravca koji je ujedinio i rock, metal,
punk...ma sve žanrove i podžanrove.</p>						<p>S obzirom da smo osetili kako se u poslednjih nekoliko godina scena ponovo budi, mlada i neiskvarena
sujetom kao ranije, pretpostavili smo da je ovo pravi momanat da iskoristimo priliku da uradimo ono
što je trebalo i ranije – da nešto promenimo. A promena je došla sama od sebe. Valjda su to i drugi hteli
te je saradnja sa ljudima u drugima gradovima ( Čačak, Gornji Milanovac, Požega, Kragujevac,Niš...)
nastala spontano i lako. Posle onog odvratnog osećaja dominacije tezgaroša i komercijalista na svakom
koraku i svakog vikenda, osetila se volja novih snaga underground pravca koji je ujedinio i rock, metal,
punk...ma sve žanrove i podžanrove.</p>						<p>S obzirom da smo osetili kako se u poslednjih nekoliko godina scena ponovo budi, mlada i neiskvarena
sujetom kao ranije, pretpostavili smo da je ovo pravi momanat da iskoristimo priliku da uradimo ono
što je trebalo i ranije – da nešto promenimo. A promena je došla sama od sebe. Valjda su to i drugi hteli
te je saradnja sa ljudima u drugima gradovima ( Čačak, Gornji Milanovac, Požega, Kragujevac,Niš...)
nastala spontano i lako. Posle onog odvratnog osećaja dominacije tezgaroša i komercijalista na svakom
koraku i svakog vikenda, osetila se volja novih snaga underground pravca koji je ujedinio i rock, metal,
punk...ma sve žanrove i podžanrove.</p>
</div>
					</div><!-- /.col-md-8 -->
				</div><!-- /.row -->
			</div><!-- /.container -->
		</div><!-- /#wrapper -->
	
	
		{% include analytics.html %}

</html>